.productList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin: 0 auto;
    max-width: 85rem;
    padding-top: 3rem;
}

.productList a{
    text-decoration: none;
    color: black;
}